* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

a{
  &:link,
  &:visited,
  &:active,
  &:hover{
      text-decoration: none;
      color: black;
  }
}

.notfound {
  margin-top: 50px ;
  color: white;
}