.card {

  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;

  color: black;
  background-color: #98C849;

  width: 180px;
  height: 240px;
  margin: 10px;
  border-radius: 10px;

  &:hover{
    box-shadow: 0px 0px 50px -18px #36B0C7;
  }
  
  &__img{
    width: 180px;
    height: 180px;
    margin-bottom: 5px;
    border-radius: 10px 10px 0 0;
  }

  &__name {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Cute Font', cursive;
    line-height: 15px;
  }


  &__specie {
    font-size: 15px;
    font-family: 'Neucha', cursive;
  }
}
