.filter {
  display: flex;
  justify-content: center;
  
  &__logo {
    margin-top: 20px;
    width: 400px;
    margin-bottom: 10px;
  } 

  &__input {
    background: #98C849;
    padding: 3px;
    border-radius: 20px;
    border: #36B0C7 solid;
    margin: 10px;
    box-shadow: 0px 0px 50px -18px #36B0C7;
    margin-bottom: 20px;

  } 
}